<template>
    <div :class="{ 'text-edit-outline': this.textEdit.mode }">
        <editor-menu-bar v-if="this.textEdit.mode" :editor="els.editor" v-slot="{ commands, isActive }">
            <v-toolbar color="green" flat dense>
                <v-toolbar-items>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" @click="commands.undo">
                                <v-icon>undo</v-icon>
                            </v-btn>
                        </template>
                        <span>Ångra</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" @click="commands.redo">
                                <v-icon>redo</v-icon>
                            </v-btn>
                        </template>
                        <span>Gör om</span>
                    </v-tooltip>

                    <v-divider vertical inset />

                    <v-menu offset-y bottom>
                        <template #activator="{ on: menu }">
                            <v-tooltip bottom>
                                <template #activator="{ on: tooltip }">
                                    <v-btn dark small icon v-on="{ ...tooltip, ...menu }" :input-value="isActive.heading()">
                                        <v-icon>text_fields</v-icon>
                                    </v-btn>
                                </template>
                                <span>Rubriker</span>
                            </v-tooltip>
                        </template>
                        
                        <v-list dense subheader>
                            <v-subheader>Rubriker</v-subheader>
                            
                            <v-list-tile :value="isActive.heading({ level: 1 })" @click="commands.heading({ level: 1 })">
                                <v-list-tile-title>Huvudrubrik</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile :value="isActive.heading({ level: 2 })" @click="commands.heading({ level: 2 })">
                                <v-list-tile-title>Mellanrubrik</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile :value="isActive.heading({ level: 3 })" @click="commands.heading({ level: 3 })">
                                <v-list-tile-title>Underrubrik</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" :input-value="isActive.bold()" @click="commands.bold">
                                <v-icon>format_bold</v-icon>
                            </v-btn>
                        </template>
                        <span>Fetstil</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" :input-value="isActive.italic()" @click="commands.italic">
                                <v-icon>format_italic</v-icon>
                            </v-btn>
                        </template>
                        <span>Kursivt</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" :input-value="isActive.underline()" @click="commands.underline">
                                <v-icon>format_underline</v-icon>
                            </v-btn>
                        </template>
                        <span>Understruket</span>
                    </v-tooltip>

                    <v-divider vertical inset />

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" :input-value="isActive.bullet_list()" @click="commands.bullet_list">
                                <v-icon>format_list_bulleted</v-icon>
                            </v-btn>
                        </template>
                        <span>Punktlista</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" :input-value="isActive.ordered_list()" @click="commands.ordered_list">
                                <v-icon>format_list_numbered</v-icon>
                            </v-btn>
                        </template>
                        <span>Numrerad lista</span>
                    </v-tooltip>

                    <v-divider vertical inset />

                    <v-menu offset-y bottom>
                        <template #activator="{ on: menu }">
                            <v-tooltip bottom>
                                <template #activator="{ on: tooltip }">
                                    <v-btn dark small icon v-on="{ ...tooltip, ...menu }" :input-value="isActive.table()">
                                        <v-icon>table_chart</v-icon>
                                    </v-btn>
                                </template>
                                <span>Tabellverktyg</span>
                            </v-tooltip>
                        </template>
                        
                        <v-list dense subheader>
                            <v-subheader>Tabellverktyg</v-subheader>

                            <v-list-tile @click="commands.createTable({ rowsCount: 3, colsCount: 3, withHeaderRow: true })">
                                <v-list-tile-title>Skapa tabell</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile @click="commands.deleteTable">
                                <v-list-tile-title>Radera tabell</v-list-tile-title>
                            </v-list-tile>

                            <v-divider />

                            <v-list-tile @click="commands.addColumnBefore">
                                <v-list-tile-title>Lägg till kolumn före</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile  @click="commands.addColumnAfter">
                                <v-list-tile-title>Lägg till kolumn efter</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile  @click="commands.deleteColumn">
                                <v-list-tile-title>Radera kolumn</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile  @click="commands.addRowBefore">
                                <v-list-tile-title>Lägg till rad före</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile @click="commands.addRowAfter">
                                <v-list-tile-title>Lägg till rad efter</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile @click="commands.deleteRow">
                                <v-list-tile-title>Radera rad</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile @click="commands.toggleCellMerge">
                                <v-list-tile-title>Kombinera celler</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>

                    <v-tooltip bottom>
                        <template #activator="{ on }">
                            <v-btn dark small icon v-on="on" @click="addImage()">
                                <v-icon>insert_photo</v-icon>
                            </v-btn>

                            <input type="file" style="display: none" ref="image" accept="image/*" @change="onImagePicked">
                        </template>
                        <span>Lägg till bild</span>
                    </v-tooltip>

                </v-toolbar-items>
            </v-toolbar>
        </editor-menu-bar>

        <editor-content :editor="els.editor" />
    </div>
</template>

<script>
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
		Blockquote,
		CodeBlock,
		HardBreak,
		Heading,
		OrderedList,
		BulletList,
		ListItem,
		TodoItem,
		TodoList,
		Bold,
		Code,
		Italic,
		Link,
		Table,
		TableHeader,
		TableCell,
		TableRow,
		Strike,
		Underline,
        History,
        Image
    } from 'tiptap-extensions'
    import { uploadImageReturnUrl } from '@/plugins/storage'
    import { mapState, mapMutations } from 'vuex'
    
    export default {
        components: {
            EditorContent,
            EditorMenuBar
        },
        props: [
            'inputContent'
        ],
        data() {
            return {
                els: {
                    editor: null
                }
            }
        },
        computed: {
            ...mapState([
                'textEdit'
            ])
        },
        watch: {
            'textEdit.mode' (value) {
                if (this.els.editor != null) {
                    this.els.editor.setOptions({ editable: value })
                }
            },
            'textEdit.action' (value) {
                if (this.els.editor != null && value === 'discard') {
                    this.els.editor.setContent(this.inputContent)
                    this.setClearTextEdit()
                }
            },
            '$route' () {
                this.els.editor.setContent(this.inputContent)
                this.setClearTextEdit()
            }
        },
        methods: {
            ...mapMutations([
                'setTextEditTextHasChanged',
                'setClearTextEdit'
            ]),
            buildEditor() {
                this.els.editor = new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3] }),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Link(),
                        new Strike(),
                        new Underline(),
                        new History(),
                        new Table(),
                        new TableHeader(),
                        new TableCell(),
                        new TableRow(),
                        new Image()
                    ],
                    content: this.inputContent,
                    editable: false,
                    onUpdate: ({ getHTML }) => {
                        this.setTextEditTextHasChanged(true)
                        this.$emit('input', getHTML())
                    }
                })
            },
            addImage() {
                this.$refs.image.click()
            },
            onImagePicked(e) {
                const files = e.target.files

                if (files[0] !== undefined) {
                    this.imageName = files[0].name

                    if (this.imageName.lastIndexOf('.') <=  0) {
                        return
                    }

                    const fr = new FileReader()

                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', async () => {
                        this.imageFile = fr.result

                        try {
                            const imageUrl = await uploadImageReturnUrl(this.imageFile, this.imageName, this.$route.name)

                            this.els.editor.commands.image({ src: imageUrl })
                        } catch (err) {
                            console.log(`Image upload failed: ${err}`)
                            //TODO ERRH!!!
                        }
                    })
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            }
        },
        mounted() {
            this.buildEditor()
        },
        beforeDestroy() {
            this.els.editor.destroy()
            this.setClearTextEdit()

        }
    }
</script>

<style>
    table {
        border-collapse: collapse;
    }
    table, th, td {
        border: thin solid black !important;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    .tableWrapper {
        overflow-x: auto;
    }
    .ProseMirror:focus {
        outline: none;
    }
</style>

<style scoped>
    .text-edit-outline {
        outline: 1px solid green;
    }
</style>