<template>
    <v-layout class="group-hero-container" row wrap fill-height>
        <v-flex xs12 md6>
            <v-img height="500" src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg" />
        </v-flex>

        <v-flex xs12 md6>
            <v-container :class="{ 'side-by-side': $vuetify.breakpoint.mdAndUp }" v-if="groupData">
                <h1 class="display-4">{{ this.groupData.title }}</h1>
                <h5 class="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</h5>
                <ul>
                    <li>
                        <p class="subheading">Terminsprogram HT19</p>
                    </li>
                    <li>
                        <p class="subheading">Terminsprogram VT19</p>
                    </li>
                    <li>
                        <p class="subheading">Terminsprogram HT18</p>
                    </li>
                </ul>
                <p>Möten på tisdagar 18:30-20</p>
                <p>Kontakta avdelningen</p>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        computed: {
            groupData() { return this.group(this.$route.params.id) },
            ...mapGetters([
                'group'
            ])
        }
    }
</script>

<style scoped>
    .group-hero-container {
        background-color: white;
        border-style: solid;
        border-color: rgba(0,0,0,0.12);
        border-width: thin 0 thin 0;
    }
    .side-by-side {
        padding-top: 84px;
    }
</style>