<template>
    <div>
        <v-parallax height="500" src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg" />

        <v-container fluid class="home-featured-container pa-0" :class="{ 'white': $vuetify.breakpoint.mdAndUp }">
            <v-data-iterator :items="featuredPosts" hide-actions disable-initial-sort no-data-text="" content-tag="v-layout" row justify-center>
                <v-flex v-if="!(($vuetify.breakpoint.xs && featuredPostsProp.index > 0) || ($vuetify.breakpoint.sm && featuredPostsProp.index > 1))" slot="item" slot-scope="featuredPostsProp" xs12 sm6 md4 lg3 xl2>
                    <v-flex :class="{ 'home-featured-item-border-left': ($vuetify.breakpoint.smAndUp && featuredPosts.index > 0) || $vuetify.breakpoint.lgAndUp, 'home-featured-item-border-right': $vuetify.breakpoint.lgAndUp && featuredPostsProp.index === settings.maxFeaturedPosts-1 }">
                        <v-card flat tile class="transparent">
                            <v-card-title>
                                <v-layout fill-height justify-space-between>
                                    <h5 class="headline">{{ featuredPostsProp.item.title }}</h5>
                                    <v-icon>star</v-icon>
                                </v-layout>
                            </v-card-title>

                            <v-card-text class="pt-0">
                                <v-layout column>
                                    <v-flex>
                                        <v-chip label small class="ml-0" color="primary" text-color="white">
                                            <v-icon small left>event</v-icon>{{ formattedPostDateForFeatured(featuredPostsProp.item.postDate) }}
                                        </v-chip>
                                        <span v-if="featuredPostsProp.item.groups.length === groupsLength">
                                            <v-chip small color="secondary" text-color="white">Alla</v-chip>
                                        </span>
                                        <span v-else v-for="(group, index) in featuredPostsProp.item.groups" :key="index">
                                            <v-chip v-if="index === 0" small color="secondary" text-color="white">{{ groups.data[group].title }}</v-chip>
                                            <span v-else-if="index === 1" class="grey--text caption">(+ {{ featuredPostsProp.item.groups.length - 1 }})</span>
                                        </span>
                                    </v-flex>
                                    <v-flex class="mt-1">
                                        <span class="body-1">{{ concatContent(featuredPostsProp.item.content) }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-flex>
            </v-data-iterator>
        </v-container>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data() {
            return {
                settings: {
                    truncatePostContentCharsThreshold: 120,
                    maxFeaturedPosts: 3
                }
            }
        },
        computed: {
            ...mapGetters([
                'featuredPosts',
                'groupsLength'
            ])
        },
        methods: {
            ...mapActions([
                'featuredPosts/fetchAndAdd'
            ]),
            formattedPostDateForFeatured(time) {
                let date = new Date(time)
                return `${date.getDate()}/${date.getMonth()+1}`
            },
            concatContent(content) {
                content = content.replace('<br>', '&nbsp;')
                content = new DOMParser().parseFromString(content, 'text/html')
                content = content.body.textContent || ''
                if (content.length > this.settings.truncatePostContentCharsThreshold) {
                    return `${ content.substring(0, this.settings.truncatePostContentCharsThreshold) }...`
                } else {
                    return content
                }
            }
        },
        mounted() {
            if (!this.featuredPosts.length) {
                this['featuredPosts/fetchAndAdd']({ where: [['isFeatured', '==', true]], orderBy: ['postDate', 'desc'], limit: this.settings.maxFeaturedPosts })
            }
        }
    }
</script>

<style scoped>
    .home-featured-container {
        border-style: solid;
        border-color: rgba(0,0,0,0.12) !important;
        border-width: thin 0 thin 0;
    }
    .home-featured-item-border-left {
        border-left: thin solid rgba(0,0,0,0.12);
        height: 100%;
    }
    .home-featured-item-border-right {
        border-right: thin solid rgba(0,0,0,0.12);
        height: 100%;
    }
</style>