<template>
    <v-footer app dark height="24" style="min-height: 0">
        &copy; {{ (new Date()).getFullYear() }} Sanct Botvids scoutkår | Ordförande/ansvarig utgivare: Bo Sjöberg
        <v-spacer />
        Kontakta kåren | Kontakta styrelsen | Rapportera problem eller synpunkt på hemsidan
        <v-spacer />
        {{Date.now()}}-{{ pipelineId }}/{{ buildId }}
    </v-footer>
</template>

<script>
    export default {
        data() {
            return {
                pipelineId: process.env.VUE_APP_CI_PIPELINE_ID,
                buildId: process.env.VUE_APP_CI_BUILD_ID,
            }
        }
    }
</script>