<template>
    <div>
        <v-toolbar flat color="green" fixed app class="toolbar-0 white--text" v-if="getUserAuth">
            <v-toolbar-items v-if="!textEdit.mode">
                <v-menu offset-y bottom :nudge-width="100">
                    <template #activator="{ on: menu }">
                        <v-tooltip bottom>
                            <template #activator="{ on: tooltip }">
                                <v-btn dark flat large v-on="{ ...tooltip, ...menu }" icon>
                                    <v-icon large>add</v-icon>
                                </v-btn>
                            </template>
                            <span>Skapa &amp; hantera</span>
                        </v-tooltip>
                    </template>

                    <v-list subheader>
                        <v-subheader>Skapa</v-subheader>
                        <v-list-tile>
                            <v-list-tile-title>Nytt inlägg</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-title>Ny sida</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-title>Nytt sidoinnehåll</v-list-tile-title>
                        </v-list-tile>
                        <v-divider />
                        <v-subheader>Hantera</v-subheader>
                        <v-list-tile>
                            <v-list-tile-title>Sidor</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-title>Sidoinnehåll</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>

                <v-menu offset-y bottom :nudge-width="100">
                    <template #activator="{ on: menu }">
                        <v-tooltip bottom>
                            <template #activator="{ on: tooltip }">
                                <v-btn dark flat v-on="{ ...tooltip, ...menu }" icon>
                                    <v-icon>history</v-icon>
                                </v-btn>
                            </template>
                            <span>Senaste inlägg</span>
                        </v-tooltip>
                    </template>

                    <v-list subheader>
                        <v-subheader>Senaste inlägg</v-subheader>
                        <v-list-tile>
                            <v-list-tile-title>Inlägg här!!!</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>

                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn dark flat icon v-on="on">
                            <v-icon>help</v-icon>
                        </v-btn>
                    </template>
                    <span>Hjälp</span>
                </v-tooltip>
            </v-toolbar-items>

            <v-spacer />

            <v-toolbar-title v-if="!textEdit.mode" v-text="`Hej, ${user.data.firstName}`" />

            <v-spacer />

            <v-toolbar-items v-if="!textEdit.mode">

                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn dark flat icon v-on="on" @click="setTextEditMode(true)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </template>
                    <span>Redigera text</span>
                </v-tooltip>

                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn dark flat icon v-on="on">
                            <v-icon>settings</v-icon>
                        </v-btn>
                    </template>
                    <span>Sidinställningar</span>
                </v-tooltip>

                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn dark flat icon v-on="on" @click="elements.dialogs.signOut = true">
                            <v-icon>logout</v-icon>
                        </v-btn>
                    </template>
                    <span>Logga ut</span>
                </v-tooltip>
            </v-toolbar-items>

            <v-toolbar-items v-if="textEdit.mode">
                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn dark flat icon v-on="on" @click="(textEdit.textHasChanged) ? elements.dialogs.discardTextEdit = true : setTextEditMode(false)">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </template>
                    <span>Avbryt</span>
                </v-tooltip>

                <v-tooltip bottom>
                    <template #activator="{ on }">
                        <v-btn large dark flat icon v-on="on" @click="textEdit.textHasChanged ? ($route.name === 'posts' ? elements.dialogs.saveTextEdit = true : (setTextEditAction('save'), setTextEditMode(false))) : setTextEditMode(false)">
                            <v-icon large>check</v-icon>
                        </v-btn>
                    </template>
                    <span>Spara</span>
                </v-tooltip>
            </v-toolbar-items>
        </v-toolbar>
        
        <v-toolbar flat color="white" fixed app class="toolbar-1 hidden-sm-and-down" :class="{ 'toolbar-1-signed-in': getUserAuth }">
            <v-spacer />
            <v-toolbar-items>
                <v-btn flat :to="{ name: 'home' }">Hem</v-btn>

                <v-menu open-on-hover offset-y bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn flat v-on="on">Om oss</v-btn>
                    </template>

                    <v-list>
                        <v-list-tile ripple v-for="(page, index) in pagesReference" :key="index" :to="{ name: 'pages/about-us', params: { id: page.id } }">
                            <v-list-tile-title>{{ page.title }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>

                <v-menu open-on-hover offset-y bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn flat v-on="on">Avdelningar</v-btn>
                    </template>

                    <v-list>
                        <v-list-tile ripple v-for="(group, index) in groupsReference" :key="index" :to="{ name: 'group/view', params: { id: group.id } }">
                            <v-list-tile-title>{{ group.title }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>

                <v-btn flat>Bli medlem</v-btn> <!-- To form -->
                <v-btn flat>För scouter &amp; föräldrar</v-btn> <!-- Dropdown! -->

                <v-menu open-on-hover offset-y bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn flat v-on="on">För ledare</v-btn>
                    </template>

                    <v-list>
                        <v-list-tile ripple :to="{ name: 'sign-in' }">
                            <v-list-tile-title>Logga in på hemsidan</v-list-tile-title>
                        </v-list-tile>


                    </v-list>
                </v-menu>

                <v-btn flat disabled>Arkiv</v-btn> <!-- Should be worked on later! -->
            </v-toolbar-items>
            <v-spacer />
        </v-toolbar>

        <v-toolbar v-if="groupsReference" dense dark scroll-off-screen :scroll-threshold="0" fixed app class="toolbar-2 hidden-sm-and-down" :class="{ 'toolbar-2-signed-in': getUserAuth }">
            <v-spacer />
            <v-toolbar-items v-for="(group, index) in groupsReference" :key="index">
                <v-btn flat small :to="{ name: 'group/view', params: { id: group.id } }">{{ group.title }}</v-btn>
            </v-toolbar-items>
            <v-spacer />
        </v-toolbar>

        <!-- Dialogs -->

        <v-dialog v-model="elements.dialogs.signOut" width="500" persistent>
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Logga ut?</v-card-title>
                <v-card-text>Är du säker på att du vill logga ut?</v-card-text>
                <v-divider />
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="error" flat @click="elements.dialogs.signOut = false">
                        Avbryt
                    </v-btn>
                    <v-btn color="success" flat @click="elements.dialogs.signOut = false; signOut()">
                        Ok
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="elements.dialogs.discardTextEdit" width="500" persistent>
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Avsluta utan att spara?</v-card-title>
                <v-card-text>Är du säker på att du vill avsluta redigeringsläget utan att spara?</v-card-text>
                <v-divider />
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="error" flat @click="elements.dialogs.discardTextEdit = false">
                        Avbryt
                    </v-btn>
                    <v-btn color="success" flat @click="elements.dialogs.discardTextEdit = false; setTextEditAction('discard'); setTextEditMode(false)">
                        Spara inte
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="elements.dialogs.saveTextEdit" width="500" persistent>
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Maila om uppdatering?</v-card-title>
                <v-card-text>Vill du också skicka ut en uppdateringen av inlägget via mail?</v-card-text>
                <v-divider />
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="error" flat @click="elements.dialogs.saveTextEdit = false">
                        Avbryt
                    </v-btn>
                    <v-btn color="success" flat @click="elements.dialogs.saveTextEdit = false; setTextEditAction('save'); setTextEditMode(false)">
                        Spara utan att maila
                    </v-btn>
                    <v-btn disabled color="success" flat @click="elements.dialogs.saveTextEdit = false; setTextEditAction('save'); setTextEditMode(false)">
                        Spara och skicka mail
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>

<script>
    import { Firebase } from '@/plugins/firebase'
    import { mapState, mapGetters, mapMutations } from 'vuex'
    
    export default {
        data() {
            return {
                elements: {
                    dialogs: {
                        signOut: false,
                        discardTextEdit: false,
                        saveTextEdit: false
                    }
                }
            }
        },
        computed: {
            ...mapState([
                'user',
                'textEdit'
            ]),
            ...mapGetters([
                'getUserAuth',
                'groupsReference',
                'pagesReference'
            ])
        },
        methods: {
            signOut: () => {
                Firebase.auth().signOut()
            },
            ...mapMutations([
                'setTextEditMode',
                'setTextEditAction'
            ])
        }
    }
</script>

<style scoped>
    .toolbar-0 {
        top: 0;
        z-index: 1000;
        height: 64px !important;
    }
    .toolbar-1 {
        top: 0px;
        z-index: 1000;
    }
    .toolbar-1-signed-in {
        top: 64px !important;
    }
    .toolbar-2 {
        top: 64px;
        z-index: 999;
    }
    .toolbar-2-signed-in {
        top: 128px !important;
    }
</style>
