<template>
    <div>
    <h1>{{ content.title }}</h1>
    <PostPage editable="true" />
    </div>
</template>

<script>
    import PostPage from '@/components/Post/PostPage.vue'

    export default {
        components: {
            PostPage
        },
        props: [
            'content'
        ]
    }

    //Content object contains everything about post/page. Depeding on type, some elements should be v-if:ed etc
</script>