<template>
    <div>
        <router-view />

        <PageModel hero-margin="true">
            <PostList slot="main-content" />

            <PageModelSidebar slot="sidebar-content" />
        </PageModel>
    </div>
</template>

<script>
    import PageModel from '@/components/PageModel/PageModel.vue'
    import PostList from '@/components/PostList/PostList.vue'
    import PageModelSidebar from '@/components/PageModel/PageModelSidebar.vue'

    export default {
        components: {
            PageModel,
            PostList,
            PageModelSidebar
        }
    }
</script>
