<template>
    <PageModel hero-margin="false">
      <PagePage :id="$route.params.id" slot="main-content" />

      <PageModelSidebar slot="sidebar-content" />
    </PageModel>
</template>

<script>  
  import PageModel from '@/components/PageModel/PageModel.vue'
  import PagePage from '@/components/Page/PagePage.vue'
  import PageModelSidebar from '@/components/PageModel/PageModelSidebar.vue'
  import { mapState } from 'vuex' 

  export default {
    components: {
      PageModel,
      PagePage,
      PageModelSidebar
    },
    computed: {
      ...mapState([
        'textEdit'
      ])
    },
    methods: {
      confirmNavigateAway() {
        return window.confirm('Vill du verkligen fortsätta? Ändringar som du har gjort på sidan kommer inte att sparas.')
      }
    },
    beforeRouteUpdate (to, from, next) {
      if (this.textEdit.mode && this.textEdit.textHasChanged) {
        next(this.confirmNavigateAway())
      } else {
        next()
      }
    },
    beforeRouteLeave (to, from, next) {
      if (this.textEdit.mode && this.textEdit.textHasChanged) {
        next(this.confirmNavigateAway())
      } else {
        next()
      }
    }
  }
</script>