<template>
    <PageModel hero-margin="false">
      <router-view slot="main-content" :content="content" />

      <PageModelSidebar slot="sidebar-content" />
    </PageModel>
</template>

<script>
  import PageModel from '@/components/PageModel/PageModel.vue'
  import PageModelSidebar from '@/components/PageModel/PageModelSidebar.vue'
  import { mapState } from 'vuex'

  export default {
    data() {
      return {
        content: {
          title: 'Testar',
          content: 'Lorem ipsum'
        }
      }
    },
    components: {
      PageModel,
      PageModelSidebar
    },
    computed: {
      ...mapState([
        'textEdit'
      ])
    },
    methods: {
      confirmNavigateAway() {
        return window.confirm('Vill du verkligen fortsätta? Ändringar som du har gjort på sidan kommer inte att sparas.')
      }
    },
    beforeRouteUpdate (to, from, next) {
      if (this.textEdit.mode && this.textEdit.textHasChanged) {
        next(this.confirmNavigateAway())
      } else {
        next()
      }
    },
    beforeRouteLeave (to, from, next) {
      if (this.textEdit.mode && this.textEdit.textHasChanged) {
        next(this.confirmNavigateAway())
      } else {
        next()
      }
    }
  }
</script>