<template>
    <PageModel hero-margin="false">
        <v-container slot="main-content">
            <h1>Logga in!</h1>
            <p>Här kan du som ledare logga in för att skriva och hantera inlägg på hemsidan, samt för att kunna ändra viss information om till exempel din avdelning!</p>
            <p>Inforuta om inloggningsförfarandet här!!</p>
            
            <v-form v-model="ssnoForm.valid" ref="ssnoForm" @submit.prevent="validateSsno">
                <v-container>
                    <v-layout>
                        <v-flex xs12 md4>
                            <v-text-field
                                id="ssno-form-field"
                                v-model="ssnoForm.ssno" 
                                :rules="ssnoForm.ssnoRules"
                                label="Personnummer" 
                                required
                                outline
                                placeholder="ÅÅMMDD - XXXX"
                                mask="###### - ####"
                                clearable
                                append-icon="navigate_next"
                                @click:append="validateSsno"
                                :success="ssnoForm.valid"
                                autofocus
                            />
                        </v-flex>
                    </v-layout>
                </v-container>

                
            </v-form>
            
            <v-dialog v-model="verificationCodeDialog" width="500" persistent>
                <v-card>
                    <v-card-title class="headline grey lighten-2" primary-title>Ange verifieringskod</v-card-title>

                    <v-card-text>
                        Du får inom kort en verifieringskod via SMS som du anger i rutan nedan. Koden skickas till det mobilnummer som du har registrerat i Scoutnet. Om du inte får någon kod, försäkra dig om att du har skrivit in rätt personnummer samt att du har rätt mobilnummer till dig registrerat i Scoutnet.
                        
                        <v-form v-model="verificationCodeForm.valid" ref="verificationCodeForm" @submit.prevent="verificationCodeFormValidate">
                            <v-text-field
                                v-model="verificationCodeForm.verificationCode"
                                :rules="verificationCodeForm.verificationCodeRules"
                                label="Verifieringskod"
                                required
                                mask="######"
                                single-line
                                clearable
                                @input="verificationCodeFormValidate"
                                :loading = verificationCodeForm.loading
                                autofocus
                                ref="verificationCodeFormField"
                                :success="verificationCodeForm.success"
                                :error-messages="verificationCodeForm.errorMessages"
                            />
                        </v-form>
                    </v-card-text>

                    <v-divider />

                    <v-card-actions>
                        <v-btn color="red" flat @click="verificationCodeDialog = false; $refs.ssnoForm.reset(); $refs.verificationCodeForm.reset()">Avbryt</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

        </v-container>

        <PageModelSidebar slot="sidebar-content" />
    </PageModel>
</template>

<script>  
    import PageModel from '@/components/PageModel/PageModel.vue'
    import PageModelSidebar from '@/components/PageModel/PageModelSidebar.vue'
    import { Firebase } from '@/plugins/firebase'
    import { mapGetters } from 'vuex'
    import Timeout from 'await-timeout'

    export default {
        components: {
            PageModel,
            PageModelSidebar
        },
        data() {
            return {
                recaptcha: {},
                verificationCodeDialog: false,
                ssnoForm: {
                    valid: false,
                    ssno: '',
                    ssnoRules: [ v => !!v && v.length === 10 || 'Fyll i personnnummer med 10 siffor' ],
                    userInfo: {}
                },
                verificationCodeForm: {
                    valid: false,
                    verificationCode: '',
                    verificationCodeRules: [ v => !!v && v.length === 6 || 'Ange en sexsiffring verifieringskod' ],
                    loading: false,
                    success: false,
                    errorMessages: []
                }
            }
        },
        computed: {
            ...mapGetters([
                'getGroupsFromScoutnetMatchTable'
            ])
        },
        methods: {
            async constructRecaptcha() {
                Firebase.auth().languageCode = 'sv'
            
                const recaptcha = new Firebase.auth.RecaptchaVerifier('ssno-form-field', {
                    'size': 'invisible'
                })

                await recaptcha.render()

                this.recaptcha = recaptcha
            },
            async validateSsno() {
                if (this.$refs.ssnoForm.validate()) {
                    this.verificationCodeDialog = true

                    let scoutnetResponseData

                    try {
                        const getScoutnetUser = Firebase.functions().httpsCallable('getScoutnetUser')
                        
                        let scoutnetResponse = await getScoutnetUser(this.ssnoForm.ssno)
                        scoutnetResponseData = scoutnetResponse.data

                        this.ssnoForm.userInfo = scoutnetResponse.data
                    } catch (err) {
                        this.verificationCodeForm.errorMessages = ['En verifieringskod kunde inte skickas. Kontrollera gärna att du skrev in rätt personnummer och försök igen']

                        console.log(`Felkod: ${err.code}`)

                        return -1
                    }

                    const appVerifier = this.recaptcha
                    const phoneNumber = scoutnetResponseData.phoneNumber

                    try {
                        let confirmationResult = await Firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                        window.confirmationResult = confirmationResult
                    } catch (err) {
                        if (err.code === 'auth/too-many-requests') {
                            this.verificationCodeForm.errorMessages = ['För många inloggningsförsök/ovanlig aktivitet har upptäckts från den här enheten. Försök att logga in om ett tag']
                        } else {
                            this.verificationCodeForm.errorMessages = ['Ett fel uppstod när verifieringskoden skulle skickas. Försök gärna igen lite senare']
                        }

                        console.log(`Felkod: ${err.code}`)
                    }
                }
            },
            async verificationCodeFormValidate() {
                if (this.$refs.verificationCodeForm.validate()) {
                    this.verificationCodeForm.loading = true
                    
                    try {
                        let result = await confirmationResult.confirm(this.verificationCodeForm.verificationCode)

                        this.verificationCodeForm.loading = false
                        this.$refs.ssnoForm.reset()
                        this.$refs.verificationCodeForm.reset()

                        const setUserInfo = Firebase.functions().httpsCallable('setUserInfo')
    
                        let data = {
                            userInfo: this.ssnoForm.userInfo,
                            groupMatchingTable: this.getGroupsFromScoutnetMatchTable
                        }

                        setUserInfo(data)

                        this.verificationCodeDialog = false

                        this.$router.replace({ name: 'home' })
                    } catch (err) {
                        this.verificationCodeForm.loading = false
                        this.$refs.verificationCodeForm.reset()

                        if (err.code === 'auth/invalid-verification-code') {
                            this.verificationCodeForm.errorMessages = ['Koden är felaktig']
                        } else if (err.code === 'auth/code-expired') {
                            this.verificationCodeForm.errorMessages = ['Verifieringskoden är inte längre aktuell. Vänligen gör om inloggningsprocessen']
                        } else {
                            this.verificationCodeForm.errorMessages = ['Ett fel har tyvärr uppstått. Testa gärna senare']
                        }

                        console.log(`Felkod: ${err.code}`)
                    }
                }
            }
        },
        watch: {
            verificationCodeDialog(state) {
                if (state) {
                    this.$nextTick(() => {
                        this.$refs.verificationCodeFormField.focus()
                    })
                }
            }
        },
        mounted() {
            this.constructRecaptcha()
        }
    }
</script>