<template>
    <div>
        <v-data-iterator :items="currentPosts" hide-actions disable-initial-sort no-data-text="">
            <v-toolbar flat slot="header">
                <v-toolbar-title>
                    <span v-if="!common.isPostsFiltered">
                        <span class="hidden-xs-only">{{ (this.groupData) ? `Inlägg för ${this.groupData.title}` : 'Senaste inlägg' }}</span>
                        <span class="hidden-sm-and-up">Inlägg</span>
                        <v-btn round outline small class="hidden-sm-and-down">
                            Notiser
                            <v-icon right small>add_alert</v-icon>
                        </v-btn>
                        <v-btn icon outline class="hidden-md-and-up">
                            <v-icon>add_alert</v-icon>
                        </v-btn>
                    </span>
                    <span v-else>{{ filteredPosts.totalHits }} resultat</span>
                </v-toolbar-title>
                <v-spacer />
                <v-btn v-if="common.isPostsFiltered" depressed color="error" @click.stop="disablePostsFiltering()">
                    Rensa
                    <v-icon right>clear</v-icon>
                </v-btn>

                <v-bottom-sheet persistent full-width v-model="filterDialog">
                    <v-btn depressed color="info" slot="activator" @click.stop="filterDialog = true">
                        <span v-if="!common.isPostsFiltered">Sök</span>
                        <span v-else>Ändra</span>
                        <v-icon right>search</v-icon>
                    </v-btn>

                    <v-toolbar>
                        <v-toolbar-title>
                            Filtera
                            <span class="hidden-xs-only"> inlägg</span>
                        </v-toolbar-title>
                        <v-spacer />
                        <v-btn depressed color="error" :large="$vuetify.breakpoint.smAndUp" @click.stop="filterDialog = false">
                            <v-icon left large>clear</v-icon>
                            Avbryt
                        </v-btn>
                        <v-btn depressed color="success" :large="$vuetify.breakpoint.smAndUp" @click.stop="filterDialog = false; enablePostsFiltering()">
                            <v-icon left large>check</v-icon>
                            Spara
                        </v-btn>
                    </v-toolbar>

                    <v-card tile flat>
                        <v-form class="v-toolbar__content">
                            <v-container fluid class="pa-0">
                                <v-layout>
                                    <v-flex>
                                        <v-text-field ref="txt" v-model="postsFilter.query" placeholder="Sök efter något kul..." prepend-icon="search" clearable />
                                    </v-flex>
                                </v-layout>

                                <v-layout row wrap>
                                    <v-flex xs12 md6>
                                        <v-select v-model="postsFilter.groups" prepend-icon="group" :items="groupsReference" item-text="title" item-value="id" label="Avdelningar" small-chips deletable-chips multiple>
                                            <v-list-tile slot="prepend-item" ripple @click.stop="groupsSelectToggleAll">
                                                <v-list-tile-action>
                                                    <v-icon :color="postsFilter.groups.length > 0 ? 'primary darken-4' : ''">{{ groupsSelectIcon }}</v-icon>
                                                </v-list-tile-action>
                                                <v-list-tile-title>Välj alla</v-list-tile-title>
                                            </v-list-tile>
                                            <v-divider slot="prepend-item" class="mt-2" />
                                        </v-select>
                                    </v-flex>

                                    <v-flex xs12 sm6 md3>
                                        <v-dialog v-model="items.dateFromPicker" ref="datePickersDateFrom" :return-value.sync="postsFilter.dateFrom" persistent full-width width="290px">
                                            <v-text-field slot="activator" v-model="postsFilter.dateFrom" label="Datum från" prepend-icon="event" readonly clearable />

                                            <v-date-picker v-model="postsFilter.dateFrom" scrollable first-day-of-week="1" locale="sv-se">
                                                <v-spacer />
                                                <v-btn flat color="primary" @click.stop="items.dateFromPicker = false">Avbryt</v-btn>
                                                <v-btn flat color="primary" @click.stop="$refs.datePickersDateFrom.save(postsFilter.dateFrom)">OK</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>

                                    <v-flex xs12 sm6 md3>
                                        <v-dialog v-model="items.dateToPicker" ref="datePickersDateTo" :return-value.sync="postsFilter.dateTo" persistent full-width width="290px">
                                            <v-text-field slot="activator" v-model="postsFilter.dateTo" label="Datum till" prepend-icon="event" readonly clearable />

                                            <v-date-picker v-model="postsFilter.dateTo" scrollable first-day-of-week="1" locale="sv-se">
                                                <v-spacer />
                                                <v-btn flat color="primary" @click.stop="items.dateToPicker = false">Avbryt</v-btn>
                                                <v-btn flat color="primary" @click.stop="$refs.datePickersDateTo.save(postsFilter.dateTo)">OK</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>

                                <v-layout align-center>
                                    <v-flex xs4>
                                        <v-img src="algolia-search-logo.svg" contain max-width="200" />
                                    </v-flex>
                                    <v-flex xs8>
                                        <p class="mb-0 caption font-italic text-xs-right">{{ settings.filterDescription }}</p>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>
                    </v-card>
                </v-bottom-sheet>
            </v-toolbar>

            <v-flex slot="item" slot-scope="postsProp">
                <v-card flat tile>
                    <v-card-title>
                        <v-layout fill-height justify-space-between>
                            <h5 class="headline">{{ postsProp.item.title }}</h5>
                            <v-icon v-if="postsProp.item.isFeatured">star</v-icon>
                        </v-layout>
                    </v-card-title>
                    
                    <v-card-text class="pt-0">
                        <v-layout column>
                            <v-flex>
                                <v-chip label small class="ml-0" color="primary" text-color="white">
                                    <v-icon small left>event</v-icon>{{ formattedPostDateForPostList(postsProp.item.postDate) }}
                                </v-chip>
                                <span v-if="postsProp.item.groups.length === groupsLength">
                                    <v-chip small color="secondary" text-color="white">Alla</v-chip>
                                </span>
                                <span v-else v-for="(group, index) in postsProp.item.groups" :key="index">
                                    <v-chip v-if="!($vuetify.breakpoint.smAndDown && index > 0) && groups.data[group]" small color="secondary" text-color="white">{{ groups.data[group].title }}</v-chip>
                                    <span v-else-if="index === 1" class="grey--text caption">(+ {{ postsProp.item.groups.length - 1 }} till)</span>
                                </span>
                            </v-flex>
                            <v-flex class="mt-1">
                                <span class="body-1">{{ concatContent(postsProp.item.content) }}</span>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
                <v-divider />
            </v-flex>
        </v-data-iterator>

        <mugen-scroll :handler="loadMorePosts" :should-handle="!common.loadingMorePosts" :threshold="settings.infiniteScrollActivationThreshold" class="text-xs-center mt-4">
            <v-progress-circular v-if="anyPostsLeft" indeterminate color="info" />
            <p v-else-if="common.isPostsFiltered && filteredPosts.totalHits === 0" class="subheading">Inga resultat hittades tyvärr 😟</p>
            <p v-else-if="common.isPostsFiltered && !anyPostsLeft" class="subheading">Inga fler inlägg hittades</p>
            <p v-else class="subheading">Det var allt <a href="https://youtu.be/QK1HNzMwC6Q" target="_blank">💰</a>😎👌</p>
        </mugen-scroll>
    </div>
</template>

<script>
    import algoliasearch from 'algoliasearch'
    import MugenScroll from 'vue-mugen-scroll'
    import { mapState, mapGetters, mapActions } from 'vuex'
    
    export default {
        components: {
            MugenScroll
        },
        data() {
            return {
                filterDialog: false,
                items: {
                    dateFromPicker: false,
                    dateToPicker: false
                },
                common: {
                    isPostsFiltered: false,
                    loadingMorePosts: false
                },
                postsFilter: {
                    query: '',
                    groups: [],
                    dateFrom: '',
                    dateTo: ''
                },
                filteredPosts: {
                    posts: [],
                    totalHits: 0,
                    pagination: 0,
                    postsPerPagination: 20,
                },
                localDbPosts: {
                    pagination: 0,
                    postsPerPagination: 20
                },
                settings: {
                    infiniteScrollActivationThreshold: 0.3,
                    trucatePostContentCharsThreshold: 230,
                    filterDescription: 'Inlägg kan filtreras efter sökord, avdelningar samt datumintervall då inläggen publicerades. Alla filterkriterierna är valfria. Inlägg som berör hela kåren hittas under varje respektive avdelning',
                    algoliaSearchIndex: algoliasearch('200MAK75D5', '562b214a09e8de28e5b569bff41f4f3a').initIndex('posts'),
                    emptyPostsFilter: { query : '', groups: [], dateFrom: '', dateTo: '' },
                    emptyFilteredPosts: { posts: [], totalHits: 0, pagination: 0 }
                }
            }
        },
        props: [
            'groupPageGroup'
        ],
        computed: {
            currentPosts() { return (this.common.isPostsFiltered) ? this.filteredPosts.posts : this.getDbPosts(this.groupPageGroup).slice(0, this.localDbPosts.pagination * this.localDbPosts.postsPerPagination) },
            groupData() { return this.group(this.groupPageGroup) },
            ...mapState([
                'posts',
                'groups',
                'dbPosts'
            ]),
            ...mapGetters([
                'group',
                'groupsIds',
                'groupsLength',
                'groupsReference',
                'getDbPosts'
            ]),
            anyPostsLeft() { return (this.common.isPostsFiltered) ? this.filteredPosts.posts.length < this.filteredPosts.totalHits : !this.dbPosts.allPostsLoaded || (this.localDbPosts.pagination < this.dbPosts.pagination) },
            someGroupsSelected() { return this.postsFilter.groups.length > 0 && !this.allGroupsSelected},
            allGroupsSelected() { return this.postsFilter.groups.length === this.groupsLength },
            groupsSelectIcon() {
                if (this.someGroupsSelected) {
                    return 'indeterminate_check_box'
                }
                if (this.allGroupsSelected) {
                    return 'check_box'
                }
                return 'check_box_outline_blank'
            },
        },
        watch: {
            filterDialog(val) {
                if (val) {
                    this.$nextTick(() => {
                        this.$refs.txt.focus()
                    })
                }
            }
        },
        methods: {
            async loadMorePosts() {
                this.common.loadingMorePosts = true

                if (this.common.isPostsFiltered) {
                    await this.loadFilteredPosts()
                } else {
                    if (!(this.dbPosts.allPostsLoaded || (this.localDbPosts.pagination < this.dbPosts.pagination))) {
                        await this.loadDbPosts()
                    }
                    this.localDbPosts.pagination++
                }

                this.common.loadingMorePosts = false
            },
            async enablePostsFiltering() {
                this.clearFilteredPosts()
                let response = await this.loadFilteredPosts()
                this.filteredPosts.totalHits = response.nbHits
                this.common.isPostsFiltered = true
            },
            disablePostsFiltering() {
                this.clearFilteredPosts()
                this.postsFilter = JSON.parse(JSON.stringify(this.settings.emptyPostsFilter))
                this.addEventualPropGroupToPostsFilter()
                this.common.isPostsFiltered = false
            },
            async loadFilteredPosts() {
                let query = (this.postsFilter.query) ? this.postsFilter.query : ''
                let facetFilters = (this.postsFilter.groups) ? this.postsFilter.groups : this.groupsIds
                let dateFilterObjects = { dateFrom: this.postsFilter.dateFrom, dateTo: this.postsFilter.dateTo }
                let numericFilters = []

                facetFilters = [ facetFilters.map(facetFilter => `groups:${facetFilter}`) ]
                if (dateFilterObjects.dateFrom) {
                    numericFilters.push(`postDate>=${new Date(dateFilterObjects.dateFrom).getTime()}`)
                }
                if (dateFilterObjects.dateTo) {
                    numericFilters.push(`postDate<=${new Date(dateFilterObjects.dateTo).getTime()}`)
                }

                let response = await this.settings.algoliaSearchIndex.search({
                    hitsPerPage: this.filteredPosts.postsPerPagination,
                    page: this.filteredPosts.pagination,
                    query: query,
                    facets: [
                        'groups'
                    ],
                    facetFilters: facetFilters,
                    numericFilters: numericFilters
                })

                this.filteredPosts.posts.push(...response.hits)
                this.filteredPosts.pagination++
                
                return response
            },
            clearFilteredPosts() {
                this.filteredPosts = JSON.parse(JSON.stringify(this.settings.emptyFilteredPosts))
            },
            ...mapActions([
                'loadDbPosts'
            ]),
            concatContent(content) {
                content = content.replace('<br>', '&nbsp;')
                content = new DOMParser().parseFromString(content, 'text/html')
                content = content.body.textContent || ''

                if (content.length > this.settings.trucatePostContentCharsThreshold) {
                    return `${ content.substring(0, this.settings.trucatePostContentCharsThreshold) }...`
                } else {
                    return content
                }
            },
            formattedPostDateForPostList(time) {
                let date = new Date(time)
                return `${date.getFullYear()}-${`0${date.getMonth()+1}`.substr(-2)}-${`0${date.getDate()}`.substr(-2)}`
            },
            addEventualPropGroupToPostsFilter() {
                if (this.groupPageGroup) {
                    this.postsFilter.groups = [ this.groupPageGroup ]
                }
            },
            groupsSelectToggleAll() {
                this.$nextTick(() => {
                    if (this.allGroupsSelected) {
                        this.postsFilter.groups = []
                    } else {
                        this.postsFilter.groups = this.groupsIds
                    }
                })
            }
        },
        mounted() {
            this.addEventualPropGroupToPostsFilter()
        }
    }
</script>