<template>
    <v-container class="page-model-container" elevation-1 :class="{ 'mt-5': heroMargin && $vuetify.breakpoint.mdAndUp, 'no-heroPadding': !heroMargin && $vuetify.breakpoint.mdAndUp }">
        <v-layout row>
            <v-flex xs12 sm8>

                <slot name="main-content" />

            </v-flex>

            <v-flex sm4 class="hidden-xs-only">

                <slot name="sidebar-content" />

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: [
            'heroMargin'
        ]
    }
</script>

<style scoped>
    .page-model-container {
        background-color: white
    }
    .no-hero-padding {
        padding-top: 84px;
    }
</style>