<template>
    <v-container>
        <v-layout column>
            <v-flex v-for="(item, index) in items" :key="index">
            <v-card flat tile>
                <v-card-title>
                <h3 class="headline mb-0">{{ item.name }}</h3>
                </v-card-title>
                <v-card-text>
                {{ item.text }}
                </v-card-text>
            </v-card>
            <v-divider />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                items: [
                    {
                        borderWidth: '0 thin 0 thin',
                        name: 'Test 1',
                        text: 'Testtest 1'
                    },
                    {
                        borderWidth: '0',
                        name: 'Test 2',
                        text: 'Testtest 2'
                    },
                    {
                        borderWidth: '0 thin 0 thin',
                        name: 'Test 3',
                        text: 'Testtest 3'
                    }
                ]
            }
        }
    }
</script>