<template>
    <v-container v-if="pageData">
        <h2 class="display-3">{{ pageData.title }}</h2>
        <ContentEditor v-if="pageData.content" v-model="els.contentEditor.page" :input-content="pageData.content" />
    </v-container>
</template>

<script>
    import ContentEditor from '@/components/ContentEditor/ContentEditor.vue'
    import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
    
    export default {
        components: {
            ContentEditor
        },
        props: [
            'id'
        ],
        data() {
            return {
                els: {
                    contentEditor: {
                        page: ''
                    }
                }
            }
        },
        computed: {
            ...mapState([
                'textEdit'
            ]),
            ...mapGetters([
                'getPage'
            ]),
            pageData() {
                return this.getPage(this.id)
            }
        },
        watch: {
            'textEdit.action' (value) {
                if (value === 'save') {
                    this.doSetPageData({ content: this.els.contentEditor.page, id: this.id })
                    this.setClearTextEdit()
                }
            }
        },
        methods: {
            ...mapMutations([
                'setClearTextEdit'
            ]),
            ...mapActions([
                'doGetPageData',
                'doSetPageData'
            ])
        }
    }
</script>