<template>
    <v-container v-if="data.post">
        <h2 class="display-3">{{ data.post.title }}</h2>
        <ContentEditor v-if="data.post.content" v-model="els.contentEditor.post" :input-content="data.post.content" />
    </v-container>
</template>

<script>
    import ContentEditor from '@/components/ContentEditor/ContentEditor.vue'
    import { mapState, mapMutations, mapActions } from 'vuex'

    export default {
        components: {
            ContentEditor
        },
        props: [
            'id'
        ],
        data() {
            return {
                data: {
                    post: {}
                },
                els: {
                    contentEditor: {
                        post: ''
                    }
                }
            }
        },
        computed: {
            ...mapState([
                'textEdit'
            ])
        },
        watch: {
            '$route' () {
                this.data.post = {}
                this.setPostData()
            },
            'textEdit.action' (value) {
                if (value === 'save') {
                   this.doSetPostData({ content: this.els.contentEditor.post, id: this.id })
                   this.setClearTextEdit()
                }
            }
        },
        methods: {
            ...mapMutations([
                'setClearTextEdit'
            ]),
            ...mapActions([
                'doGetPostData',
                'doSetPostData'
            ]),
            async setPostData() {
                this.data.post = await this.doGetPostData(this.id)
            }
        },
        mounted() {
            this.setPostData()
        }
    }
</script>