<template>
    <v-app>
      <AppHeader />

      <v-content class="toolbar-adjustment-general" :class="{ 'toolbar-adjustment-one-bar': $vuetify.breakpoint.mdAndUp || getUserAuth, 'toolbar-adjustment-two-bars': $vuetify.breakpoint.mdAndUp && getUserAuth }">
        <router-view />
      </v-content>

      <!--<AppFooter />-->
    </v-app>
</template>

<script>
  import AppHeader from '@/components/App/AppHeader.vue'
  import AppFooter from '@/components/App/AppFooter.vue'
  import { mapGetters } from 'vuex'

  export default {
    components: {
      AppHeader,
      AppFooter
    },
    computed: {
      ...mapGetters([
        'getUserAuth'
      ])
    }
  }
</script>

<style scoped>
  .toolbar-adjustment-general {
    padding-top: 0 !important
  }
  .toolbar-adjustment-one-bar {
    margin-top: 63px;
  }
  .toolbar-adjustment-two-bars {
    margin-top: 127px;
  }
</style>